@using Entities
@using Business

@inject NavigationManager NavManager

    <EditForm Model="oCategory">
        <DataAnnotationsValidator />
        <div class=" form-group">
            <label for="categotyId">Referencia:</label>
            <InputText id="categotyId" @bind-Value="oCategory.CategotyId " class=" form-control" />
            <ValidationMessage For="@(() => oCategory.CategotyId)" class="text-danger" />
        </div>
        <div class=" form-group">
            <label for="name">Nombre de la Categoria:</label>
            <InputText id="name" @bind-Value="oCategory.CategoryName " class=" form-control" />
            <ValidationMessage For="@(() => oCategory.CategoryName)" class="text-danger" />
        </div>
        <div class=" form-group">
            <input type="button"  value="Agregar Categoria" @onclick="Save" class="form-control btn btn-dark"/>
        </div>

    </EditForm>

@code {
    CategoryEntity oCategory = new CategoryEntity();

    private void Save()
    {
        BusinnesCategory.CreateCategory(oCategory);
        NavManager.NavigateTo("category/list");
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("On Valid Submit");
    }
}
